<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ShoppingCart</display-name>
  <welcome-file-list>
      <welcome-file>Products.java</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
 
  </welcome-file-list>
  <listener>
    <listener-class>Listeners.ConnecDB</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>Servlets.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Loginfilter</display-name>
    <filter-name>Loginfilter</filter-name>
    <filter-class>Filters.Loginfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Loginfilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Loginfilter</filter-name>
    <url-pattern>/orders.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCheck</display-name>
    <servlet-name>RegisterCheck</servlet-name>
    <servlet-class>Servlets.RegisterCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCheck</servlet-name>
    <url-pattern>/RegisterCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>Servlets.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>Servlets.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
</web-app>